<!DOCTYPE html>
<table border="0" width="100%" height="100%" cellpadding="0" cellspacing="0" style="max-width: 660px;">
  <tbody>
  <tr>
    <td
      align="left"
      valign="top"
      bgcolor="#ffffff"
      style="background-color: #ffffff"
    >
      <% /* ここから下を編集 */ %>

      <% /* ヘッダー参考パーツ */ %>
      <%- include('./_header') %>

      <% /* タイトル参考パーツ */ %>
      <%- include('./_title') %>

      <% /* セクション参考パーツ */ %>
      <%- include('./_section') %>

      <% /* フッター参考パーツ */ %>
      <%- include('./_footer') %>

      <% /* ここから上を編集 */ %>
    </td>
  </tr>
  </tbody>
</table>
