<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="Content-Style-Type" content="text/css">
  <meta http-equiv="Content-Language" content="ja">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">    <!-- So that mobile webkit will display zoomed in -->
  <meta name="format-detection" content="telephone=no"> <!-- disable auto telephone linking in iOS -->

  <!-- HTMLメールのためtitleは空欄-->
  <title></title>

  <style type="text/css">
    /* Resets: see reset.css for details */

    body {-webkit-text-size-adjust:none; -ms-text-size-adjust:none;}
    table {border-spacing:0;}
    table td {border-collapse:collapse;}
    body,table,tr,td,img {margin: 0;padding: 0;}
    img {border: 0; line-height: 0;}

    /* gmailで自動付与されるstyleの無効化 */
    .a6S {
      display: none !important;
    }

  </style>
</head>
