<% var newMailList = [
  {
  "data" : "01",
  },
  {
  "data" : "02",
  },
  {
  "data" : "03",
  },
  {
  "data" : "04",
  }
]; %>

<!DOCTYPE html>
<html lang="ja">
  <%- include('./modules/common/_head') %>
  <body>
    <main>
      <h1>お題一覧</h1>
      <ul>
        <% for (var item of newMailList) { %>
          <li>
            <a href="<%= item.data %>/index.html"><%= item.data %></a>
          </li>
        <% } %>
      </ul>
    </main>
  </body>
</html>
