<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  bgcolor="#ffffff"
  width="100%"
>
  <tbody style="font-size: 14px; color: #333;line-height: 1.8; margin: auto;">
    <!-- サンプル -->
    <tr>
      <td width="37px" style="padding: 0 24px">
        <img src="http://localhost:3000/assets/images/num1.png" alt="">
      </td>
      <td style="font-size: 16px; font-weight: bold">
        <span>マイページを開く</span>
      </td>
    </tr>
    <!-- 以下より「2」以降のフローを実装してみる -->
  </tbody>
</table>
