<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  bgcolor="#ffffff"
>
  <tbody style="font-size: 14px; color: #333;line-height: 1.8;">
    <tr>
      <td>
        <img src="http://localhost:3000/assets/images/line-link.png" alt="">
      </td>
    </tr>
    <tr>
      <td>
        <a href="/" style="color: #FE152E; font-size: 14px; border-radius: 54px; border: 1px solid #FE152E; padding: 6px 16px 6px 16px; text-decoration: none;">マイページ</a>
      </td>
    </tr>
  </tbody>
</table>
