<table
  border="0"
  cellpadding="0"
  cellspacing="0"
  bgcolor="#ffffff"
>
  <tbody style="font-size: 14px; color: #333;line-height: 1.8;">
    <tr>
      <td>
        ステップ3: リンク
      </td>
    </tr>
    <tr>
      <td>
        <img src="http://127.0.0.1:9000/mail/line-link.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=HZ4YA7EX0MZ9IFQ3X5HD%2F20240929%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240929T005815Z&X-Amz-Expires=604800&X-Amz-Security-Token=eyJhbGciOiJIUzUxMiIsInR5cCI6IkpXVCJ9.eyJhY2Nlc3NLZXkiOiJIWjRZQTdFWDBNWjlJRlEzWDVIRCIsImV4cCI6MTcyNzYxNDYwOCwicGFyZW50IjoibWluaW9fcm9vdCJ9.vvMDHOJnDGV6uc7TG7_mwXQYqWjcqZuNVUvgFnpFiz2-E2h1yvkTRT9Bs8_5nWXdB08K6LRzORYbE9Se1SApDA&X-Amz-SignedHeaders=host&versionId=null&X-Amz-Signature=79a3adec4201b31abfa96cb65753903f302b7a56202ebede9e3ebfe39f43ae3f" alt="">
      </td>
    </tr>
    <tr>
      <td>
        <a href="/" style="color: #FE152E; font-size: 14px; border-radius: 54px; border: 1px solid #FE152E; padding: 6px 16px 6px 16px; text-decoration: none;">マイページ</a>
      </td>
    </tr>
  </tbody>
</table>
